root = true

# All files
[*]
indent_style = space

# Xml files
[*.xml]
indent_size = 2

# C# files
[*.cs]

#### Core EditorConfig Options ####

# Indentation and spacing
indent_size = 4
tab_width = 4

# New line preferences
end_of_line = crlf
insert_final_newline = true

dotnet_diagnostic.IDE0060.severity = none # Caused by resource with no methods and no subresources
dotnet_diagnostic.IDE1006.severity = none # Some names may not match up with C# conventions
dotnet_diagnostic.IDE0290.severity = none # Don't prefer primary constructors
dotnet_diagnostic.IDE0028.severity = none # "Collection initialization can be simplified" is a bit overzealous
dotnet_diagnostic.IDE0090.severity = none # "Simplify 'new' expression" is a bit overzealous
dotnet_diagnostic.IDE0059.severity = none # Sometimes we create "unnecessary" variables for clarity

# For .NET Standard 2.0 support
dotnet_diagnostic.IDE0057.severity = none # Caused by use of `.Substring(...)`
dotnet_diagnostic.CA1866.severity = none # Caused by use of `.StartsWith(...)` with single character string
dotnet_diagnostic.CA1847.severity = none # Caused by use of `.Contains(...)` with single character string
dotnet_diagnostic.CA2263.severity = none # Caused by use of non-generic `Enum.IsDefined(...)`
